body{
  background-color: #DFE8CC;
}

.margin-left-2{
  margin-left: 2rem;
}

.shiba-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.gif-generator{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}